<!DOCTYPE html>
<html>
<head>
    <title>Ethan's Blog</title>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"> 
</head>
<body>
<h1>
	<a href="/">
		Ethan Lusterman's Blog
	</a>
</h1>

<table>
    <tr>
        <td>
            <h2>Hello, 
                {% if user.is_authenticated %}
                    {{ user.get_full_name }} | 
                    </td><td>
                        <h2><a href="/logout/">Logout</a></h2>
                    </td>
                {% else %}
                    Anonymous |
                    </td><td>
                        <h2><a href="/login/">Login</a> | </h2>
                    </td><td>
                        <h2><a href="/signup/">Sign Up</a></h2>
                    </td>
                {% endif %}
    </tr>
</table>

{% block content %}

    {% for post in posts %}
        {% include "post.html" %}
    {% endfor %}

{% endblock %}

<script>
    function likeCount(postid, posttype) {
        var url = '/like/' + posttype + '/' + postid;
        var likes = '#'+ posttype + '-' + postid;
        //var toggle = $(likes).data('toggle');
        //var count = parseInt($(likes).text()) + toggle;

        //$(likes).data('toggle', -toggle);
        //$(likes).text(count);

        $.ajax({
            type: "GET",
            url: url,
            success: function(likecount) {
            	$(likes).text(likecount);
            }
        });
    }
</script>

</body>
</html>
