<div class="blog-post">
    <h3>{{ comment.date }}</h3>
    <p>{{ comment.text }}</p>
	<ul class="like">
        <li id="comment-{{comment.id}}" class="like-count">
			{{ comment.likes.count }}
		</li>
		<li class="like-button">
            <a onClick="likeCount( {{ comment.id }}, 'comment')">
			    <img src="/static/img/like.png">
            </a>
		</li>
	</ul>
</div>
