<div class="blog-post">
	<h2>
    	<a href="/blog/{{ post.id }}">
    		{{ post.title }}
    	</a>
    </h2>
    <h3>{{ post.date }}</h3>
    <p>{{ post.text }}</p>
    <img class="post-image" src="/{{ post.image }}">
	<ul class="like">
        <li id="post-{{post.id}}" class="like-count"><!-- data-toggle="{{post.toggle}}"> -->
			{{ post.likes.count }}
		</li>
        <li class="like-button">
            <a onClick="likeCount( {{ post.id }}, 'post')">
			    <img src="/static/img/like.png">
            </a>
		</li>
	</ul>
</div>
