body {
	margin: auto auto;
	max-width: 640px;
	text-align: center;
	background: #808080;
	font-family: 'Open Sans', sans-serif;
	color: #DDDDDD;
}

.blog-post {
	margin: 20px auto;
	text-align: left;
	border: 2px solid;
	border-radius: 25px;
	box-shadow: 10px 10px 5px #888888;
	background-color: #333333;
}

a {
	text-decoration: none;
	color: #DDDDDD;
}

a:hover {
	text-decoration: underline;
}

.blog-post a {
	text-decoration: none;
}

.blog-post a:hover {
	text-decoration: underline;
}

.blog-post h2, h3, p {
	margin-left: 10px;
}

.blog-post .post-image {
	max-width: 300px;
	margin: 10px auto;
	display: block;
	background-color: white;
}

.like {
	text-align: right;
	margin-right: 20px;
}

.like li {
	display: inline;
	list-style-type: none;
}

.like .like-count {
	font-size: 36px;
	color: #808080;
}

.like .like-button a {
    cursor: pointer;
}

.like .like-button img {
	max-width: 32px;
}
